# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.vscode/

# -------------------------
# FastAPI / Uvicorn / Logs
# -------------------------
*.log
logs/
uvicorn.log

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
*.env

# -------------------------
# Byte-compiled / Cache
# -------------------------
*.db
*.sqlite3
*.sqlite
*.pid
.cache/
pytest_cache/
.mypy_cache/
.dmypy.json
.pytest_cache/

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/
*.swp
*.swo

# -------------------------
# OS Generated
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Frontend (HTMX / Tailwind)
# -------------------------
node_modules/
static/dist/
static/build/

# -------------------------
# Terraform (if included in same repo)
# -------------------------
.terraform/
# .terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# -------------------------
# SA github-deployer-key
# -------------------------
github-deployer-key.json
